<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <title>Catalogo</title>
</head>
<body>
    <h1>Welcome</h1>
    <h3>Vedi il nostro Catalogo magnifico</h3>
    <table>
        <thead>
            <tr>
                <th>Codice</th>
                <th>Nome</th>
                <th>Tipo</th>
                <th>Anno di Produzione</th>
                <th>Quantità</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="p : ${collezione}">
                <td th:text="*{p.code}"></td>
                <td th:text="*{p.name}"></td>
                <td th:text="*{p.type}"></td>
                <td th:text="*{p.productionYear}"></td>
                <td th:text="*{p.quantity}"></td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" th:href="@{/catalogo/nuovo}">Aggiungi Prodotto</a>
    <a class="btn btn-secondary" th:href="@{/catalogo}">Oblitera Catalogo</a>
</body>
</html>